<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="./lib/main.css">
    <title>BLUZ Studio工作室</title>
</head>

<body>
    <nav id="head" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid flex flex-center-main">
            <div class="navbar-header">
                <img src="./Img/LogoW.png" class="navbar-brand" style="padding: 0;" />
            </div>
            <div class="navbar-header" v-for="(title, index) in titleAry">
                <a class="navbar-brand title-active" :href="linkAry[index]" :target="targetAry[index]" v-if="index === 0">{{ title }}</a>
                <a class="navbar-brand title" :href="linkAry[index]" :target="targetAry[index]" v-else>{{ title }}</a>
            </div>
        </div>
    </nav>
    <div class="cover">
        <div class="cover-text">
            <p>立即組裝您心目中的電腦</p>
            <p>BLUZ Studio是您最好的選擇</p>
        </div>
        <div class="flex flex-center-main">
            <div class="cover-start">
                <a href="#anchor" class="cover-start-link">
                    <p>立即開始</p>
                    <p><span class="glyphicon glyphicon-chevron-down"></span></p>
                </a>
            </div>
        </div>
    </div>
    <div style="height: 0.5vh;"></div>
    <div class="content-bg">
        <div id="anchor" style="height: 7vh;"></div>
        <div class="container">
            <div class="row flex">
                <div class="col-md-4">
                    <div class="Logo"></div>
                    <h1 style="text-align: center;">BLUZ Studio</h1>
                </div>
                <div class="col-md-8 block">
                    <h2 style="text-align: center;">熱門商品推薦</h2>
                    <div class="row flex">
                        <div class="col-md-6">
                            <div class="productFrame">
                                <div class="product" style="background-image: url('./Img/cpt1.png');"></div>
                                <h4 class="product-desc">搭載 Intel i7-9700K 處理器</h4>
                                <h4 class="product-desc">GeForce RTX 2060 顯示卡</h4>
                                <h4 class="product-desc">酷炫的RGB燈光絕對是您的最佳遊戲夥伴</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="productFrame">
                                <div class="product" style="background-image: url('./Img/cpt2.png');margin-right: 1vw;"></div>
                                <h4 class="product-desc">專業文書機</h4>
                                <h4 class="product-desc">低調的紫色透露出的尊爵不凡</h4>
                                <h4 class="product-desc">絕對是您最適合的辦公主機</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 2.5vh;"></div>
            <div class="row flex">
                <div class="col-md-4 block">
                    <h2 style="text-align: center;">本季熱賣</h2>
                    <div class="productFrame">
                        <div class="product" style="background-image: url('./Img/cpt3.png');"></div>
                        <h4 class="product-desc">專業文書機</h4>
                        <h4 class="product-desc">低調的紫色透露出的尊爵不凡</h4>
                        <h4 class="product-desc">絕對是您最適合的辦公主機</h4>
                    </div>
                </div>
                <div class="col-md-4 block">
                    <h2 style="text-align: center;">本月熱賣</h2>
                    <div class="productFrame">
                        <div class="product" style="background-image: url('./Img/cpt4.png');"></div>
                        <h4 class="product-desc">專業文書機</h4>
                        <h4 class="product-desc">低調的紫色透露出的尊爵不凡</h4>
                        <h4 class="product-desc">絕對是您最適合的辦公主機</h4>
                    </div>
                </div>
                <div class="col-md-4 block">
                    <h2 style="text-align: center;">本週熱賣</h2>
                    <div class="productFrame">
                        <div class="product" style="background-image: url('./Img/cpt5.png');"></div>
                        <h4 class="product-desc">專業文書機</h4>
                        <h4 class="product-desc">低調的紫色透露出的尊爵不凡</h4>
                        <h4 class="product-desc">絕對是您最適合的辦公主機</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row footer">
        <div class="col-md-4 col-md-offset-2">
            <div class="flex">
                <div>版權宣告&emsp;</div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <div>Copyright © 2022 krject. All rights reserved.</div>
        </div>
    </div>
    <script src="./lib/main.js"></script>
</body>