<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="../../lib/main.css">
    <title>BLUZ Studio工作室</title>
</head>

<body>
    <nav id="head_child" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid flex flex-center-main">
            <div class="navbar-header">
                <img src="../../Img/LogoW.png" class="navbar-brand" style="padding: 0;" />
            </div>
            <div class="navbar-header" v-for="(title, index) in titleAry">
                <a class="navbar-brand title-active" :href="linkAry[index]" :target="targetAry[index]"
                    v-if="index === 2">{{ title }}</a>
                <a class="navbar-brand title" :href="linkAry[index]" :target="targetAry[index]" v-else>{{ title }}</a>
            </div>
        </div>
    </nav>
    <div style="height: 0.5vh;"></div>
    <div class="content-bg">
        <div id="anchor" style="height: 7vh;"></div>
        <div class="container" style="height: 85vh;">
            <div class="row flex" style="align-items: flex-start;">
                <div id="menu" class="col-md-4 block">
                    <div class="product-Thumb" style="background-image: url('../../Img/SSD/SSD3.png');"></div>
                    <template v-for="(item, index) in menuAry">
                        <h3 v-if="index === 3">
                            <ol class="breadcrumb nowLink">
                                <li>
                                    <a href="../../index.html">首頁</a>
                                </li>
                                <li>
                                    <a :href="'../' + item + '/index.html'">{{ item }}</a>
                                </li>
                            </ol>
                        </h3>
                    </template>
                </div>
                <div id="SSD" class="col-md-8 block">
                    <h2 style="text-align: center;">{{ descAry[2][0] }}</h2>
                    <div>
                        藉由 WD Red™ SA500 NAS SATA SSD 提升 NAS 系統的效能和回應速度。您的 NAS 系統全年無休，因此確保硬碟的可靠性非常重要。與標準 SSD 不同，WD Red NAS SATA SSD 專門針對全年無休條件使用設計和測試。 
                    </div>
                    <div style="height: 1vh;"></div>
                    <div>
                        WD Red™ SA500 NAS SATA SSD 擁有卓越耐用性和針對大型檔案的高效快取，非常適合 OLTP 資料庫、多使用者環境、相片渲染、4K 和 8K 影片編輯和其他要求嚴苛的應用環境。
                    </div>
                    <div style="height: 1vh;"></div>
                    <div>
                        WD Red™ SA500 NAS SATA SSD 儲存裝置已針對 NAS 系統快取進行最佳化，可快速存取您最常用的內容。 
                    </div>
                    <div style="height: 1vh;"></div>
                    <div>
                        WD Red™ SSD’ 擁有卓越的耐寫度，可滿足 NAS 對讀寫負載的嚴苛要求，為您提供打造全年無休環境所需的可靠性。 
                    </div>
                    <div style="height: 1vh;"></div>
                    <div>
                        WD Red™ SSD採用專為 NAS 打造且經實證的 Western Digital® 3D NAND，為家庭或辦公室提供最強的 SATA 效能，從而提升生產力和效率。
                    </div>
                    <div style="height: 1vh;"></div>
                    <div>
                        此硬碟延遲降低、回應速度提升，適用於 OLTP 資料庫、多使用者環境、相片渲染、4K 和 8K 影片編輯等。
                    </div>
                    <div style="height: 1vh;"></div>
                    <div>
                        藉由其從 500GB 到最高 4TBB1 的容量選項，自訂您的 NAS 以滿足最嚴苛的儲存需求。
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row footer">
        <div class="col-md-4 col-md-offset-2">
            <div class="flex">
                <div>版權宣告&emsp;</div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <div>Copyright © 2022 krject. All rights reserved.</div>
        </div>
    </div>
    <script src="../../lib/main.js"></script>
</body>