<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="../../lib/main.css">
    <title>BLUZ Studio工作室</title>
</head>

<body>
    <nav id="head_child" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid flex flex-center-main">
            <div class="navbar-header">
                <img src="../../Img/LogoW.png" class="navbar-brand" style="padding: 0;" />
            </div>
            <div class="navbar-header" v-for="(title, index) in titleAry">
                <a class="navbar-brand title-active" :href="linkAry[index]" :target="targetAry[index]"
                    v-if="index === 2">{{ title }}</a>
                <a class="navbar-brand title" :href="linkAry[index]" :target="targetAry[index]" v-else>{{ title }}</a>
            </div>
        </div>
    </nav>
    <div style="height: 0.5vh;"></div>
    <div class="content-bg">
        <div id="anchor" style="height: 7vh;"></div>
        <div class="container" style="height: 85vh;">
            <div class="row flex" style="align-items: flex-start;">
                <div id="menu" class="col-md-4 block">
                    <div class="product-Thumb" style="background-image: url('../../Img/CPU/CPU8.png');"></div>
                    <template v-for="(item, index) in menuAry">
                        <h3 v-if="index === 0">
                            <ol class="breadcrumb nowLink">
                                <li>
                                    <a href="../../index.html">首頁</a>
                                </li>
                                <li>
                                    <a :href="'../' + item + '/index.html'">{{ item }}</a>
                                </li>
                            </ol>
                        </h3>
                    </template>
                </div>
                <div id="CPU" class="col-md-8 block">
                    <h2 style="text-align: center;">{{ descAry[7][0] }}</h2>
                    <h4>最快的遊戲處理器</h4>
                    <h4>12 個核心可提供遊戲、串流媒體等所需的動力。</h4>
                    <div>
                        無論是玩遊戲還是進行創作，AMD Ryzen™ 處理器均可提供頂極的效能。
                    </div>
                    <div style="height: 1vh;"></div>
                    <div>
                        AMD Ryzen™ 5000 系列處理器為下一代要求苛刻的遊戲提供動力，提供了最佳身臨其境的體驗，並可以支配 3D 和視訊渲染3及軟體編譯等多執行緒任務。
                    </div>
                    <div style="height: 1vh;"></div>
                    <div>
                        AMD Ryzen™ 5000 G 系列處理器擁有桌上型電腦處理器所擁有的最快圖形效能4，或與顯示卡結合使用來為您的遊戲效能提供強勁動力。
                    </div>
                    <div style="height: 1vh;"></div>
                    <h4>最新技術</h4>
                    <div>
                        AMD Ryzen™處理器具有讓您在遊戲中身入其境的所有最佳功能。
                    </div>
                    <div style="height: 1vh;"></div>
                    <div>
                        強大的處理能力帶來了最前沿的技術支援。 所有 AMD Ryzen™ 5000 系列處理器均具有旨在提高 PC 處理能力的全套技術，包括精度提升24、精度強化超頻5、精選處理器上的 PCIe®
                        4.0 與可調大小的 BAR。
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row footer">
        <div class="col-md-4 col-md-offset-2">
            <div class="flex">
                <div>版權宣告&emsp;</div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <div>Copyright © 2022 krject. All rights reserved.</div>
        </div>
    </div>
    <script src="../../lib/main.js"></script>
</body>